* {
    box-sizing: border-box;
}

.log {
    border:1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 300px;
    height: 500px;
    overflow-y: auto;
}
.log div {
    padding: 5px;
    border-bottom: 1px solid black;
}
input {
    border:1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 300px;
    height: 2em;
    border-top: 0;
    padding: 5px;
}