@(stream: Call, post: Call)(implicit request: RequestHeader)

@main("Pixeon Chat") {

	<div class="log"></div>
    <input type="text" name="message" />

    <script>
        var user = prompt("Digite seu nome?");
        $("input" ).on("keyup", function(e){
            if( e.keyCode != 13)
                return;
            var m = { message: this.value, user: user };
            this.value = "";
            $.ajax({
                url: "@post.toString()",
                data: JSON.stringify(m),
                method: "post",
                contentType: "application/json"
            });
        });
        var feed = new EventSource("@stream.absoluteURL()");
        feed.addEventListener("message", function (msg) {
            var m = JSON.parse(msg.data);
            $(".log" ).append("<div class='message'>" + m.user + ": " + m.message + "</div>");
        }, false);
    </script>
}